<p>login works!</p>
<i class="bx bxs-like bx-xs"></i>
<i class="bx bxs-like bx-sm"></i>
<i class="bx bxs-like bx-md"></i>
<i class="bx bxs-like bx-lg"></i>
<!-- Boxicons web component -->

<p class="text-color-secondary">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, maxime.
</p>
<p-button label="Click Me"></p-button>
<p-button
  icon="{{ loading ? 'bx bxs-like bx-lg' : 'bx bxs-like' }}"
  label="Save"
/>
<p-splitbutton label="Save" />
<p-splitbutton label="Save" severity="secondary" />
<p-splitbutton label="Save" severity="success" />
<p-splitbutton label="Save" severity="info" />
<p-splitbutton label="Save" severity="warn" />
<p-splitbutton label="Save" severity="help" />
<p-splitbutton label="Save" severity="danger" />
