<p-card>
  <ng-template #header>
    <div class="flex justify-content-start align-items-center gap-1">
      <p-button
        class="ml-2"
        severity="primary"
        variant="text"
        icon="bx bx-undo bx-sm"
        (onClick)="goToReturnUrl()"
      ></p-button>
      <h3 class="text-primary-600">Crear usuario</h3>
    </div>
  </ng-template>

  <app-dynamic-form
    [formConfig]="formConfig"
    [formBtnConfig]="formActionButton"
    (onClick)="post($event)"
  ></app-dynamic-form>
</p-card>
