<div *ngIf="form">
  <div
    class="text-red-500"
    *ngIf="
      (form[field.name].invalid && form[field.name].dirty) ||
      form[field.name].touched
    "
  >
    <small *ngIf="form[field.name].hasError('required')"
      >Este campo es requerido*
    </small>
    <small *ngIf="form[field.name].hasError('email')"
      >Direccion de correo invalida!
    </small>
    <small *ngIf="form[field.name].hasError('pattern')"
      >Texo ingresado invalido!
    </small>
    <small *ngIf="form[field.name].hasError('minlength')"
      >El minimo de caracteres es {{ field.validators.minLength }}!
    </small>
    <small *ngIf="form[field.name].hasError('maxlength')"
      >El maximo de caracteres es {{ field.validators.maxLength }}!
    </small>
  </div>
</div>
