<p-card styleClass="shadow-2">
  <p-table
    *ngIf="!isLoading; else skeleton"
    #dt2
    [value]="data"
    [tableStyle]="{ 'min-width': '50rem' }"
    [size]="'small'"
    [globalFilterFields]="filterColumn"
  >
    <ng-template #caption>
      <div class="flex justify-content-between align-items-center mb-3">
        <h3 class="text-primary-600">{{ titleList }}</h3>
        <div class="flex gap-3">
          <p-iconfield iconPosition="left">
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal($event)"
              placeholder="Buscar"
            />
            <p-inputicon>
              <i class="bx bx-search"></i>
            </p-inputicon>
          </p-iconfield>

          <p-button
            icon="bx bx-plus-circle"
            severity="primary"
            label="Nuevo"
            (onClick)="onAddRow()"
          ></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns">{{ col.header | titlecase }}</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let column of columns">
          <ng-container *ngIf="column.template; else onlyText">
            <ng-container
              *ngTemplateOutlet="
                column.template;
                context: {
                  $implicit: rowData,
                  colName: column.header
                }
              "
            ></ng-container>
          </ng-container>
          <ng-template #onlyText>
            {{ rowData[column.field] }}
          </ng-template>
        </td>
        <!-- Columna de Acciones -->
        <td>
          <ng-container *ngFor="let action of actions">
            <app-button
              [variant]="'text'"
              [color]="action.color"
              [icon]="action.icon"
              [label]="action.label"
              (onClick)="action.callback(rowData)"
              [permission]="action.permission"
            ></app-button>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" *ngIf="data.length == 0">
      <small>No existen registros actualmente.</small>
    </ng-template>
  </p-table>
  <ng-template #skeleton>
    <app-skeleton [type]="'table'" [columns]="columns"></app-skeleton>
  </ng-template>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [showCurrentPageReport]="true"
    [showPageLinks]="true"
    [showJumpToPageDropdown]="true"
  />
</p-card>
