<form class="grid" [formGroup]="form">
  <div class="{{ field.column }}" *ngFor="let field of config">
    <div *ngIf="field.type === 'text'">
      <p-floatlabel variant="on">
        <p-iconfield>
          <input
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get(field.name).invalid &&
                (form.get(field.name).dirty || form.get(field.name).touched)
            }"
            pInputText
            [id]="field.on_label"
            [type]="field.type"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
          />
          <p-inputicon class="bx bxs-{{ field.icon }}" />
        </p-iconfield>
        <label [for]="field.on_label">{{ field.label }}</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="field"
      ></app-validators-form>
    </div>

    <div *ngIf="field.type === 'email'">
      <p-floatlabel variant="on">
        <p-iconfield>
          <input
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get(field.name).invalid &&
                (form.get(field.name).dirty || form.get(field.name).touched)
            }"
            pInputText
            [id]="field.on_label"
            [type]="field.type"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
          />
          <p-inputicon class="bx bxs-{{ field.icon }}" />
        </p-iconfield>
        <label [for]="field.on_label">{{ field.label }}</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="field"
      ></app-validators-form>
    </div>

    <div *ngIf="field.type === 'password'">
      <p-floatlabel variant="on">
        <p-iconfield>
          <input
            [ngClass]="{
              'ng-invalid ng-dirty':
                form.get(field.name).invalid &&
                (form.get(field.name).dirty || form.get(field.name).touched)
            }"
            pInputText
            [id]="field.on_label"
            [type]="field.type"
            [formControlName]="field.name"
            [placeholder]="field.placeholder"
          />
          <p-inputicon class="bx bxs-{{ field.icon }}" />
        </p-iconfield>
        <label [for]="field.on_label">{{ field.label }}</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="field"
      ></app-validators-form>
    </div>

    <div *ngIf="field.type === 'textarea'">
      <p-floatlabel variant="on">
        <textarea
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.get(field.name).invalid &&
              (form.get(field.name).dirty || form.get(field.name).touched)
          }"
          pTextarea
          [id]="field.name"
          [formControlName]="field.name"
          rows="5"
          cols="30"
          style="resize: none"
          class="w-full h-full"
        ></textarea>
        <label [for]="field.on_label">{{ field.label }}</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="field"
      ></app-validators-form>
    </div>

    <div *ngIf="field.type === 'select'">
      <p-floatlabel variant="on">
        <p-select
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.get(field.name).invalid &&
              (form.get(field.name).dirty || form.get(field.name).touched)
          }"
          [(ngModel)]="field.selectedItems"
          [options]="field.options"
          [id]="field.on_label"
          [formControlName]="field.name"
          [optionLabel]="field.name"
          [filter]="field.filter"
          [filterBy]="field.filterBy"
          [showClear]="field.showClear"
          [placeholder]="field.placeholder"
          class="w-full"
        >
          <ng-template #selectedItem let-selectedOption>
            <div>{{ selectedOption.name }}</div>
          </ng-template>
          <ng-template let-country #item>
            <div>{{ country.name }}</div>
          </ng-template>
        </p-select>
        <label [for]="field.on_label">{{ field.label }}</label>
      </p-floatlabel>
      <app-validators-form
        [form]="form.controls"
        [field]="field"
      ></app-validators-form>
    </div>
  </div>
</form>
<div class="flex justify-content-center align-items-center gap-2">
  <app-button
    [text]="'Cancel'"
    [appearance]="'rounded'"
    [variant]="'outlined'"
    [color]="'danger'"
    [icon]="'x-circle'"
  ></app-button>
  <app-button
    [text]="'Save'"
    [appearance]="'rounded'"
    [color]="'primary'"
    [icon]="'save'"
    (onClick)="onSubmit()"
    [disabled]="form.invalid"
  ></app-button>
</div>
