<app-table
  [titleList]="'Listado de roles'"
  [data]="roles"
  [columns]="columns"
  [rows]="rows"
  [first]="first"
  [totalRecords]="totalRecords"
  [actions]="actions"
  (addRow)="onNavigate()"
  (pageChange)="onPageChange($event)"
></app-table>
<ng-template #statusTemplate let-item let-col="colName">
  <p-chip
    label="{{ item.estado }}"
    icon="bx bx-{{
      item.estado == 'activo'
        ? 'check-circle text-primary-600'
        : 'x-circle text-red-600'
    }}"
  />
</ng-template>
